<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>

    {%if message %}
    <h2>{{message}}</h2>
    {%endif%}
    <form method="POST">
        {% csrf_token %}
        {%if email%}
        <h3>メールアドレス</h3>
        <input type="input" min="1" name="email" value="{{email}}"><br>
        {%else%}
        <h3>メールアドレス</h3>
        <input type="input" min="1" name="email"><br>
        {%endif%}
        <h3>パスワード(4文字以上)</h3> 
        <input type="password" min="4" name="password"><br>
        <h3>パスワード(確認用)</h3>
        <input type="password" min="4" name="repassword"><br>
        <input type="submit" name="送信">
    </form>
</body>
</html>