
    {% extends "base.html" %}
    {% block title %}時間割{% endblock %}
    {% block content %}
    <h1 class="title">時間割</h1>
    <div class="linkbuttonbox">
    <span><a href="{% url 'main:tablestatus' %}">時間割の設定</a></span>
    <span><a href="{% url 'main:createlessonfield' %}">授業の追加</a></span>
    </div>
    <div class="timetablebox">
    <table class="timetable" >
        <tr>
          <th class="fixedcont"> </th>
          <th>　　月　　</th>
          <th>　　火　　</th>
          <th>　　水　　</th>
          <th>　　木　　 </th>
          <th>　　金　　</th>
          <th>　　土　　</th>       
     </tr>
     {%for content in contents%}
     <tr>
         <th class="fixedcont">{{content.period.period}}限</th>
         {%for lesson in content.week %}
         {%if lesson.color%}
         <td ><a href="../lesson/contents/{{lesson.id}}/"style="color:{{lesson.color}}">{{lesson.name}}</td>
        {%else%}
        <td>{{lesson.name}}</td>
        {%endif%}
         {%endfor%}

     </tr>
     {%endfor%}
      </table>
    </div>
    {% endblock %}
