<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>時間割の詳細</title>
</head>
<body>
    <h2>{{timetable.name}}</h2>
    <form method="POST">
        {%csrf_token%}
        <input type="hidden" name="type" value="add">
         <input type="submit" value="追加">
    </form>
    <form method="POST">
            {%csrf_token%}
            <input type="hidden" name="type" value="del">
            <input type="submit" value="削除">
    </form><br>
    {% for sep in seps %}
    <form method="POST">
    {%csrf_token%}
    <input type="hidden" name="type" value="chenge">
    <h3>{{sep.period}}限</h3>
    <input type="hidden" name = "num" value="{{sep.period}}" />
    <p><input type="text" name="starth" size = "1" value="{{sep.starth}}" />:<input type="text" name="startm" size = "1" value="{{sep.startm}}" />
         ~ <input type="text" name="endh" size = "1" value="{{sep.endh}}" />:<input type="text" name="endm" size = "1" value="{{sep.endm}}" /></p>
         <input type="submit" value="変更"/>
    </form>
    {%endfor%}
    {%if massage%}
    <script>alert("{{message}}");</script>
    {%endif%}
</body>
</html>